@model  Treinamento.Models.ViewModels.ProdutoRequest
@{
    ViewData["Title"] = "Novo Produto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>
     Produto
</h1>
<p>
    Nome: @Model.Nome
</p>
<p>
    Quantidade em Estoque: @Model.QuantidadeEstoque
</p>
<p>
    Nome: @Model.Preco
</p>